<div class="main-wrap">
  <div class="table-wrap">
    <table class="sub-list table table-striped">
      <thead>
        <tr>
          <th scope="col">서브명</th>
          <th scope="col">선택</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sub of subSerialList">
          <td>{{ sub.subSerial }}</td>
          <td>
            <button class="btn btn-primary" (click)="selectSub(sub)">
              선택
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display: flex; justify-content: space-around; margin-top: 10px">
      <button
        type="button"
        class="btn btn-secondary"
        style="width: 40%"
        (click)="subListLoding()"
      >
        조회
      </button>
    </div>
  </div>

  <div *ngIf="showForm">
    <form class="input-wrap" #myForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <span class="input-group-text">서브 시리얼</span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="tableNo"
            name="tableNo"
            [(ngModel)]="newSubSrial"
            required
          />
          <label for="floatingInputGroup1">필수 값</label>
        </div>
      </div>
      <button class="modify-btn btn btn-primary" type="submit">
        서브 수정
      </button>
    </form>
  </div>
</div>
