<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'productAdd'">상품 추가</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'productModify'">상품 수정</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'productRemove'">상품 삭제</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'productSoldOut'">상품 품절</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'categoryAdd'">카테고리 추가</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'categoryModify'">카테고리 수정</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'categoryDelete'">카테고리 삭제</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
