*{
  font-size: 0.825rem;
}

.main-wrap{
  padding: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-wrap{
  width: 40vw;
}
.add-btn{
  width: 100%;
  height: 50px;
}
.input-group-text{
  width: 15%;
}
.form-floating label{
  color: #ccc;
}
